node_modules/
dist/
.angular/

*.exe
api-usuarios/api-usuarios
api-usuarios/uploads/

.env
*.env

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform/terraform.tfvars

lambda.zip
api-usuarios/bootstrap

.vscode/
.idea/
.kiro/
notas/

.DS_Store
Thumbs.db
