@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body {
  background: #C8CCE8;
}

ion-app {
  max-width: 390px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

@media (max-width: 420px) {
  ion-app {
    box-shadow: none;
  }
}
